<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net48" />
  <package id="Hangfire" version="1.7.24" targetFramework="net48" />
  <package id="Hangfire.Core" version="1.7.24" targetFramework="net48" />
  <package id="Hangfire.MemoryStorage" version="1.7.0" targetFramework="net48" />
  <package id="Hangfire.SqlServer" version="1.7.24" targetFramework="net48" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TikaOnDotnet" version="1.17.1" targetFramework="net48" />
  <package id="TikaOnDotnet.TextExtractor" version="1.17.1" targetFramework="net48" />
  <package id="Unity" version="5.11.1" targetFramework="net48" />
  <package id="Unity.WebAPI" version="5.4.0" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net48" />
</packages>