.loading-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	width: 100%;
	height: 95vh;
}

.lds-facebook {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 120px;
}

.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #003CB0;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
}

.loading-text{
	text-align: center;
}

@keyframes lds-facebook {
	0% {
		top: 8px;
		height: 64px;
	}

	50%, 100% {
		top: 24px;
		height: 32px;
	}
}
